<template>
  <md-field>
    <div slot="header" class="md-field-brief sub-title">{{ title }}</div>
    <div
      class="field-operator"
      slot="action"
      v-if="!!comment"
      @click="showComment"
    >
      <md-icon name="info"></md-icon>
    </div>
    <md-check-group v-model="innerValue">
      <md-check-box name="self">自己</md-check-box>
      <md-check-box name="couple">配偶</md-check-box>
      <md-check-box name="parent">父母</md-check-box>
      <md-check-box name="child">子女</md-check-box>
    </md-check-group>

    <md-dialog :closable="true" v-model="commentShow">
      <div v-html="comment"></div>
    </md-dialog>
  </md-field>
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import {
  Field,
  FieldItem,
  Icon,
  CheckGroup,
  CheckBox,
  Toast,
  Dialog,
} from "mand-mobile";
@Component({
  components: {
    [Field.name]: Field,
    [FieldItem.name]: FieldItem,
    [Icon.name]: Icon,
    [CheckBox.name]: CheckBox,
    [CheckGroup.name]: CheckGroup,

    [Dialog.name]: Dialog,
  },
})
export default class CheckboxItemField extends Vue {
  @Prop({ type: String, default: "" }) private title!: string;
  @Prop({
    type: Array,
    default: () => {
      return [];
    },
  })
  private value!: Array<string>;
  @Prop({ type: String, default: "" }) private name!: string;
  @Prop({ type: String, default: "" }) private error!: string;
  @Prop({ type: String, default: "" }) private comment!: string;
  @Prop({
    type: String,
    default: "dialog",
    validator: (val: string) => {
      return val === "toast" || val === "dialog";
    },
  })
  private commentType!: string;

  commentShow = false;

  innerValue = ["self"];

  @Watch("value", { immediate: true })
  valuewatcher(val: Array<string>): void {
    this.innerValue = val;
  }

  @Watch("innerValue")
  innerValuewatcher(val: Array<string>): void {
    this.$emit("change", val);
  }

  onBlur(): void {
    this.$emit("blur");
  }

  showComment(): void {
    if (this.commentType === "toast") {
      Toast({
        content: this.comment || "",
        icon: "info",
      });
    } else {
      this.commentShow = true;
    }
  }
}
</script>
<style lang="stylus" scoped>
.sub-title{
  color #333;
  font-size 30px;
}
</style>
