<template>
  <md-field>
    <div slot="header" class="md-field-brief sub-title">{{ title }}</div>
    <div
      class="field-operator"
      slot="action"
      v-if="!!comment"
      @click="showComment"
    >
      <md-icon name="info"></md-icon>
    </div>
    <md-input-item
      v-model="innerValue"
      :type="type"
      :name="name"
      :placeholder="placeholder"
      :error="error"
      @blur="onBlur"
    >
    </md-input-item>
    <md-dialog :closable="true" v-model="commentShow">
      <div v-html="comment"></div>
    </md-dialog>
  </md-field>
</template>
<script lang="ts">
import { Component, Prop, Vue, Watch } from "vue-property-decorator";
import { Field, FieldItem, Icon, InputItem, Toast, Dialog } from "mand-mobile";
@Component({
  components: {
    [Field.name]: Field,
    [FieldItem.name]: FieldItem,
    [Icon.name]: Icon,
    [InputItem.name]: InputItem,
    [Dialog.name]: Dialog,
  },
})
export default class InputFieldItem extends Vue {
  @Prop({ type: String, default: "" }) private title!: string;
  @Prop({ type: String, default: "" }) private value!: string;
  @Prop({ type: String, default: "text" }) private type!: string;
  @Prop({ type: String, default: "" }) private name!: string;
  @Prop({ type: String, default: "请输入" }) private placeholder!: string;
  @Prop({ type: String, default: "" }) private error!: string;
  @Prop({ type: String, default: "" }) private comment!: string;
  @Prop({
    type: String,
    default: "dialog",
    validator: (val: string) => {
      return val === "toast" || val === "dialog";
    },
  })
  private commentType!: string;

  commentShow = false;

  innerValue = "";

  @Watch("value", { immediate: true })
  valuewatcher(val: string): void {
    this.innerValue = val;
  }

  @Watch("innerValue")
  innerValuewatcher(val: string): void {
    this.$emit("change", val);
  }

  onBlur(): void {
    this.$emit("blur");
  }
  showComment(): void {
    if (this.commentType === "toast") {
      Toast({
        content: this.comment || "",
        icon: "info",
      });
    } else {
      this.commentShow = true;
    }
  }
}
</script>
<style lang="stylus" scoped>
.sub-title{
  color #333;
  font-size 30px;
}
</style>
