<template>
  <div id="app">
    <router-view />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { random } from "@/core/utils";
@Component({
  components: {},
})
export default class App extends Vue {
  created() {
    console.log(random(100));
    console.log(this.isIPhoneX);
  }
}
</script>
<style lang="stylus">
html, body
  background-color #f9fafb
  font-family -apple-system-font, Helvetica Neue, Helvetica, sans-serif
  width 100vw
  max-width 100vw
  overflow-x hidden

.amap-copyright
  z-index 0 !important
</style>
