<template>
  <div>
    <canvas
      id="canvas"
      ref="container"
      :width="size.width"
      :height="size.height"
      class="photo-container"
    ></canvas>
    <div class="face-container" :style="style">
      <video
        ref="player"
        :width="size.width"
        :height="size.height"
        autoplay="autoplay"
      ></video>
      <div class="tips">
        <p class="tip">{{ tip }}</p>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
@Component({
  components: {},
})
export default class FaceLogin extends Vue {
  width = 414;
  height = 414;
  timer?: number;
  track?: MediaStreamTrack;
  interval?: number = 1000;
  quality = 0.6;
  tip = "拍摄您本人的人脸，请确保正对手机，光线充足";

  get size() {
    return {
      width: `${this.width * 0.75}px`,
      height: `${this.width * 0.75}px`,
    };
  }

  get style() {
    return {
      display: "block",
      width: this.size.width,
      clear: "both",
      margin: "0 auto",
    };
  }

  showError(error: string) {
    this.tip = error;
  }
  startScan() {
    this.timer = setInterval(() => {
      const canvas = this.$refs.container as HTMLCanvasElement;
      const ctx = canvas.getContext("2d");
      ctx &&
        ctx.drawImage(
          this.$refs.player as HTMLVideoElement,
          0,
          0,
          this.width,
          this.width
        );
      this.$emit(
        "on-capture-photo",
        canvas.toDataURL("image/jpeg", this.quality)
      );
    }, this.interval);
  }

  stop() {
    this.track && this.track.stop();
  }

  destroyed() {
    clearInterval(this.timer);
    this.stop();
  }
  mounted() {
    const constraints = {
      video: {
        width: 414,
        height: 414,
      },
      audio: false,
    };
    const video = this.$refs.player as HTMLVideoElement;
    navigator.mediaDevices
      .getUserMedia(constraints)
      .then((stream: MediaStream) => {
        this.track = stream.getTracks()[0];
        video.srcObject = stream;
        video.play();
      });
    this.startScan();
  }
}
</script>
<style lang="stylus" scoped>
.face-container
  width 100vw
  height 80vw

  video
    position fixed
    z-index -100
    top 325px

  .tips
    font-size 26px
    text-align center
    color #ff8400
    line-height 60px

.photo-container
  position fixed
  left -11000px

.video-view
  width 200px
  height 200px
  background-color #ffffff

.video-preview
  width 100%
  height 262px
  position fixed
  top 237px
  z-index 3
  background-color antiquewhite

.cover-img
  width 100vw
  height 100vh
  position fixed
  z-index 5

.content
  width 100vw
  height 100vh
  position fixed
  z-index 7
</style>
