.md-field-item-title-login
  color #d8d8d8 !important

.md-example-child-agree
  margin-top 70px
  margin-bottom 30px
  font-size 24px
  color #d8d8d8

  .md-agree-content
    color #d8d8d8

    a
      color #5878B4
      text-decoration none