<template>
  <form class="login--form">
    <md-input-item
      class="md-input-item-input-light"
      type="phone"
      placeholder="请输入手机号码"
    >
      <label class="md-field-item-title md-field-item-title-login" slot="left">
        手机号
      </label>
      <md-button slot="right" type="primary" size="small" plain>
        发 送
      </md-button>
    </md-input-item>
    <md-input-item
      class="md-input-item-input-light"
      type="digit"
      maxlength="5"
      placeholder="请输入验证码"
    >
      <label class="md-field-item-title md-field-item-title-login" slot="left">
        验证码
      </label>
    </md-input-item>
    <div class="md-example-child-agree">
      <md-agree v-model="agreeConf.checked" :size="agreeConf.size">
        本人承诺已充分了解平台使用权责，理解并同意
        <a href="http://www.baidu.com">《EMAS平台用户使用协议》</a>
      </md-agree>
    </div>
    <md-button type="primary" @click="toAbout"> 登 录 </md-button>
  </form>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";
import { State } from "vuex-class";

import { InputItem, Field, Agree, Button } from "mand-mobile";

@Component({
  components: {
    [InputItem.name]: InputItem,
    [Field.name]: Field,
    [Agree.name]: Agree,
    [Button.name]: Button,
  },
})
export default class FormLogin extends Vue {
  @State((state) => state.user.token)
  public token!: string;

  agreeConf: {
    checked: boolean;
    name: string;
    size: string;
    disabled: boolean;
    introduction: string;
  } = {
    checked: true,
    name: "agree0",
    size: "lg",
    disabled: false,
    introduction: "选中状态",
  };
  user: {
    name: string;
    password: string;
    uuid: string;
    remember: boolean;
    imei: string;
    pushToken: string;
    deviceType: string;
  } = {
    name: "",
    password: "",
    uuid: "",
    remember: true,
    imei: "",
    pushToken: "",
    deviceType: "",
  };
  sendBtn: { time: number; timer: null } = { time: 0, timer: null };

  toAbout() {
    this.$router.push({ path: "/about" });
  }
}
</script>
<style lang="stylus" scoped>
@import './form-login'
</style>
