<template>
  <div class="section">
    <div class="login">
      <div class="login--bg">
        <img :src="type === 'form' ? bg : face" />
      </div>
      <div class="login--content">
        <div class="login__center">
          <div class="login--profile">
            <img src="~@/assets/logo.png" />
          </div>
          <h3 class="login--title">{{ appName }}</h3>
          <form-login v-if="type === 'form'"></form-login>
          <face-login
            ref="face"
            @on-capture-photo="facePhoto"
            v-else
          ></face-login>
          <div class="copyright">
            <p>四苹果(北京)农业科技有限公司 版权所有</p>
            <p>中再巨灾风险管理股份有限公司 技术支持</p>
          </div>
        </div>
      </div>
      <div class="login-switch">
        <a @click="switchLoginType">{{ switchText }}</a>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
/* eslint-disable @typescript-eslint/no-explicit-any */

import { Component, Vue } from "vue-property-decorator";
import FormLogin from "./FormLogin.vue";
import FaceLogin from "./FaceLogin.vue";
import bg from "@/assets/bg.png";
import face from "@/assets/face-lgoin.png";
@Component({
  components: {
    FormLogin,
    FaceLogin,
  },
})
export default class Login extends Vue {
  public bg: any = bg;
  public face: any = face;
  public type = "form";

  facePhoto(data: any) {
    console.log(data);
  }

  switchLoginType() {
    if (this.type === "face") {
      (this.$refs.face as FaceLogin).stop();
    }
    this.type = this.type === "form" ? "face" : "form";
  }

  get switchText() {
    return this.type === "form" ? "刷脸登录" : "手机登录";
  }

  created() {
    this.$plus.navigator.setStatusBarBackground("#040404");
    this.$plus.navigator.setStatusBarStyle("light");
  }
}
</script>
<style lang="stylus" scoped>
@import './login'
</style>
