*
  margin 0
  padding 0
  box-sizing border-box

.section
  width 100%
  height 100vh
  max-height 100vh
  overflow-y hidden
  position relative
  display flex
  align-items center
  justify-content center
  background #f2f2f2

.login
  width 100%
  height 100%
  border-radius 30px
  z-index 100

.login--bg
  width 100%
  height 100%

.login--bg img
  width 100%
  height 100%

.login__header
  position absolute
  top 42px
  right 25px

  span
    font-family 'MicrosoftYaHeiUI-Bold'
    font-size 14px
    font-weight bold
    color #ffb534
    letter-spacing 1.73px

.login__center
  position absolute
  top 100px
  width 100%

.login--profile
  height 180px
  text-align center

  img
    width 180px

.login--title
  text-align center
  padding 64px 12px 12px 12px
  font-family 'MicrosoftYaHeiUI'
  font-weight bold
  font-size 45px
  color #d8d8d8
  letter-spacing 1.48px

.login--form
  padding 60px 80px

.login-switch
  position fixed
  top 10px
  right 10px
  font-size 24px
  color #fff

  a
    color color-primary
    letter-spacing 1.5px

.copyright
  align-items center
  justify-content center
  margin-top 30px
  color #CCC
  text-align center
  font-size 24px
  letter-spacing 0
  line-height 40px

@media only screen and (device-width: 375px)
  .login--title
    padding 64px 12px 12px

  .login-tips .tip__two
    padding-top 0px